@inherits BaseComponentBase
<h5>@message</h5>
<ul>
    <li>we create a class that inherit from 'ComponentBase 'with this name convention: compoentNameBase </li>
    <li>we make our Compoent inherit from this class by using 'inherits' directive so the genrated class can access code in our new class easily   </li>
    <li>remember to set the Paroperites in the newBase Class as protected not private so our compent can access it    </li>
</ul>
