@page "/componentWithParameter/{parameter}"
<p>this Parameter is passed to the Component as String and we using  [Parameter] to bind them automatic : @Parameter</p>

@code {
    [Parameter]
    public string Parameter { get; set; }
}
