
<h5>@message</h5>
<ul>
    <li>we create partial class with this name convention: compoentName.razor.css </li>
    <li>the compiler will add our code in partial class to the generated class </li>
    <li>by that we can sperate our code from markup code</li>
</ul>
